@page
@model SWMNU.NET.BS4.FlashMessage.TestingApp.Pages.ExampleRazor.FormMessageModel
@{
    ViewData["Title"] = "Form Error Message Example";
}

<div class="col-sm-12 col-md-6 offset-md-3 mx-auto">
    <h2 class="text-center font-weight-bold">@ViewData["Title"]</h2>
    <hr />
    <partial name="_FormMessage" />
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.FMVM.FirstName"></label>
            <input asp-for="@Model.FMVM.FirstName" class="form-control" />
            <span asp-validation-for="@Model.FMVM.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.FMVM.LastName"></label>
            <input asp-for="@Model.FMVM.LastName" class="form-control" />
            <span asp-validation-for="@Model.FMVM.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
            <button type="button" class="btn btn-danger" id="reloadBtn">Reload Page</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reloadBtn").on('click', function () {
                window.location.href = window.location.href;
            });
        });
    </script>
}
