@using SWMNU.Net.FlashMessage 
@model AlertMessage
@{
    ViewData["Title"] = "MVC Flash Message Example";
}

<div class="col-sm-12 col-md-6 offset-md-3 mx-auto">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    <form asp-controller="ExampleMVC" asp-action="FlashMessage" method="post">
        @Html.AntiForgeryToken()
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger">
                <h4 class="alert-heading text-center">Uh oh!</h4>
                <div asp-validation-summary="All"></div>
            </div>
        }
        <div class="mb-3">
            <label asp-for="@Model.Text"></label>
            <input class="form-control" asp-for="@Model.Text" placeholder="Flash Message Contents" />
            <span asp-validation-for="@Model.Text" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Title"></label>
            <input class="form-control" asp-for="@Model.Title" placeholder="(Optional) Flash Message Heading/Title" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Type"></label>
            <select class="form-select" aria-label="Select Alert Type" asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<AlertType>()">
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" asp-for="@Model.Dismissible" />
                <label asp-for="@Model.Dismissible">Dismissible?</label>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Generate Flash Message!</button>&nbsp;
            <button type="button" class="btn btn-danger" id="reloadBtn">Reload Page</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reloadBtn").on('click', function () {
                window.location.href = window.location.href;
            });
        });
    </script>
}
